#creating df from json file

In [1]:
from __future__ import print_function

import os
import sys

import seaborn as sns
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd

PROJ_ROOT = os.path.join(os.pardir)
PATH=os.path.abspath(PROJ_ROOT)
print(PATH)

C:\Users\Fariha\Springboard-capstone2\Recommendation_System_CreditCard\recommendation_system_creditcard

In [5]:
df=pd.read_json('anon_transactions.json', orient='records')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90086 entries, 0 to 90085
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   accountid             61386 non-null  float64
 1   address               11940 non-null  object
 2   amountnum             90086 non-null  float64
 3   category              88891 non-null  object
 4   categoryid            61386 non-null  float64
 5   city                  28772 non-null  object
 6   client_id             90086 non-null  object
 7   country               85591 non-null  object
 8   currency_code         61539 non-null  object
 9   date                  90086 non-null  datetime64[ns]
 10  detail_category       58398 non-null  float64
 11  high_level_category   60021 non-null  float64
 12  latitude              11904 non-null  float64
 13  longitude             11904 non-null  float64
 14  original_description  90086 non-null  object
 15  pending               90080 non-null  float64
 16  simple_description    89933 non-null  object
 17  state                 33293 non-null  object
 18  transactionid         90086 non-null  object
 19  uid                   90086 non-null  object
 20  zip_code              11800 non-null  object
 21  accountId             153 non-null    float64
 22  category0             329 non-null    object
 23  finsight_api_uid      482 non-null    object
 24  finsight_image        0 non-null      float64
 25  insight_ctaurl        0 non-null      float64
 26  insight_text          0 non-null      float64
 27  original_uid          153 non-null    float64
 28  tenant_id             153 non-null    object
dtypes: datetime64[ns](1), float64(13), object(15)
memory usage: 19.9+ MB

In [8]:
pd.to_datetime(df['date'], unit='s')

0       2020-08-20
1       2020-08-20
2       2020-08-20
3       2020-08-20
4       2020-08-20
           ...
90081   2019-09-01
90082   2019-09-01
90083   2019-09-01
90084   2019-09-01
90085   2019-09-01
Name: date, Length: 90086, dtype: datetime64[ns]

In [9]:
df['date']

0       2020-08-20
1       2020-08-20
2       2020-08-20
3       2020-08-20
4       2020-08-20
           ...
90081   2019-09-01
90082   2019-09-01
90083   2019-09-01
90084   2019-09-01
90085   2019-09-01
Name: date, Length: 90086, dtype: datetime64[ns]

In [10]:
df

,accountid,address,amountnum,category,categoryid,city,client_id,country,currency_code,date,...,uid,zip_code,accountId,category0,finsight_api_uid,finsight_image,insight_ctaurl,insight_text,original_uid,tenant_id
0,10204036.0,None,300.00,Transfers,28.0,None,xUNKBjKaHyMto8AeLwVosyPv5jpWdSuK,US,USD,2020-08-20,...,UTaljsLsjma9nB3a3BgRtzfTvWK2,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10092333.0,None,60.00,Credit Card Payments,26.0,None,xUNKBjKaHyMto8AeLwVosyPv5jpWdSuK,US,USD,2020-08-20,...,MqWg0x97h9XwjSCFuxTrKok6JPC3,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10092333.0,None,9.13,Savings,40.0,None,xUNKBjKaHyMto8AeLwVosyPv5jpWdSuK,US,USD,2020-08-20,...,MqWg0x97h9XwjSCFuxTrKok6JPC3,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10092333.0,None,71.68,Transfers,28.0,None,xUNKBjKaHyMto8AeLwVosyPv5jpWdSuK,US,USD,2020-08-20,...,MqWg0x97h9XwjSCFuxTrKok6JPC3,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10092333.0,None,60.00,Credit Card Payments,26.0,None,xUNKBjKaHyMto8AeLwVosyPv5jpWdSuK,US,USD,2020-08-20,...,MqWg0x97h9XwjSCFuxTrKok6JPC3,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90081,10019665.0,None,5.36,NaN,7.0,None,xUNKBjKaHyMto8AeLwVosyPv5jpWdSuK,US,USD,2019-09-01,...,qy4wWJHVBMYbF3GnaQKCAsMej6k2,None,NaN,Entertainment,dy8OV1Dwpe4ywJ13urQ0,NaN,NaN,NaN,NaN,NaN
90082,10019665.0,None,16.00,NaN,5.0,Columbus,xUNKBjKaHyMto8AeLwVosyPv5jpWdSuK,None,USD,2019-09-01,...,qy4wWJHVBMYbF3GnaQKCAsMej6k2,None,NaN,Clothing/Shoes,dy8OV1Dwpe4ywJ13urQ0,NaN,NaN,NaN,NaN,NaN
90083,10019665.0,None,31.68,NaN,10.0,Columbus,xUNKBjKaHyMto8AeLwVosyPv5jpWdSuK,US,USD,2019-09-01,...,qy4wWJHVBMYbF3GnaQKCAsMej6k2,None,NaN,Groceries,dy8OV1Dwpe4ywJ13urQ0,NaN,NaN,NaN,NaN,NaN
90084,10018314.0,None,6.05,NaN,22.0,Hilton Head Island,xUNKBjKaHyMto8AeLwVosyPv5jpWdSuK,None,USD,2019-09-01,...,VtdpeFkK9me5g2JkHXRl4puc8Bw2,None,NaN,Restaurants/Dining,sfDV7ILNqUsRFIJg0eGl,NaN,NaN,NaN,NaN,NaN
90085,10018314.0,None,4.10,NaN,22.0,Yemassee,xUNKBjKaHyMto8AeLwVosyPv5jpWdSuK,US,USD,2019-09-01,...,VtdpeFkK9me5g2JkHXRl4puc8Bw2,None,NaN,Restaurants/Dining,sfDV7ILNqUsRFIJg0eGl,NaN,NaN,NaN,NaN,NaN

In [15]:
df.drop(['category0','finsight_api_uid','finsight_image','insight_ctaurl','insight_text','original_uid','tenant_id'], axis=1,inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90086 entries, 0 to 90085
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   accountid             61386 non-null  float64
 1   address               11940 non-null  object
 2   amountnum             90086 non-null  float64
 3   category              88891 non-null  object
 4   categoryid            61386 non-null  float64
 5   city                  28772 non-null  object
 6   client_id             90086 non-null  object
 7   country               85591 non-null  object
 8   currency_code         61539 non-null  object
 9   date                  90086 non-null  datetime64[ns]
 10  detail_category       58398 non-null  float64
 11  high_level_category   60021 non-null  float64
 12  latitude              11904 non-null  float64
 13  longitude             11904 non-null  float64
 14  original_description  90086 non-null  object
 15  pending               90080 non-null  float64
 16  simple_description    89933 non-null  object
 17  state                 33293 non-null  object
 18  transactionid         90086 non-null  object
 19  uid                   90086 non-null  object
 20  zip_code              11800 non-null  object
 21  accountId             153 non-null    float64
dtypes: datetime64[ns](1), float64(9), object(12)
memory usage: 15.1+ MB

In [20]:
df['client_id'].nunique() #only 4 clients?

4

In [21]:
df['accountid'].nunique()

220

In [23]:
df['pending'].unique() #looks like binary field

array([ 0.,  1., nan])

In [25]:
df['category'].nunique()

67

In [28]:
df['date'].nunique()

346

In [30]:
df.groupby(['client_id']).count()

,accountid,address,amountnum,category,categoryid,city,country,currency_code,date,detail_category,...,latitude,longitude,original_description,pending,simple_description,state,transactionid,uid,zip_code,accountId
client_id,,,,,,,,,,,,,,,,,,,,,
EP4ml8hvKcGdx1NEmvt8paKmox38fb1f,0,2671,28539,28535,0,6360,28539,0,28539,0,...,2553,2553,28539,28539,28539,8731,28539,28539,2541,0
UlRZCzfzWq3AHLnVHC2HJFDyOyNIYzHf,0,0,2,2,0,0,2,0,2,0,...,0,0,2,2,2,0,2,2,0,0
bqIzcl0YGvo77ArAIwa274giqsox9X9b,0,0,153,0,0,0,153,153,153,0,...,0,0,153,153,0,0,153,153,0,153
xUNKBjKaHyMto8AeLwVosyPv5jpWdSuK,61386,9269,61392,60354,61386,22412,56897,61386,61392,58398,...,9351,9351,61392,61386,61392,24562,61392,61392,9259,0